* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

header .container {
	width: 1180px;
	height: 80px;
	margin: auto;
	border-bottom: solid 1px grey;
}

.container .logo {
	height: 80px;
	width: 150px;
	float:left;
	margin-left : 25px;
}

.container .logo img {
	height: 70px;
	margin-top: 5px;
	object-fit: cover;
	float:left;
}

.container .logo p {
	width: 80px;
	height:80px;
	margin:0px;
	float:left;
}

.container .logo span:nth-child(1) {
	color:#c62917;
	margin:auto;
	display: block;
	font-size:8px;
	margin-top:15px;
	margin-left:10px;
}

.container .logo span:nth-child(2) {
	font-size:25px;
	margin:auto;
}


.container .menu {
	height: 80px;
	width: 600px;
	float:left;
	margin-left: 170px;
}

.container .menu ul {
	margin-top: 30px;
    display: block;
    list-style-type: none;
}

.container .menu li{
	float:left;
	margin-left: 15px;

}

.container .menu li a{
	text-decoration: none;
	color:black;
	font-weight:bold;
}


.container .menu li a:hover{
	text-decoration: none;
	color: #c62917;
	font-weight:bold;
}



.container .icon {
	height: 50px;
	width: 100px;
	float:right;
	margin-right:40px;
	margin-top:28px;
}


.container .icon img {
	height: 30px;
	float:right;
	display:block;
	margin-right:15px;
	
}

main .container1{
	background-color:#f8f8f8;
	width: auto;
	height: 1100px;
	position: relative;
	padding: 18px;
}

main aside {
	width: 324px;
    height: 455px;
	float: left;
}

main aside form select{
	width: 324px;
    height: 33px;
	border: solid 2px #bfbfbf;
	padding: 5px;
}

main aside .current {
	width: 324px;
	height: 170px;
	background-color: white;
	margin-top: 5px;
	border: solid 0.5px #bfbfbf;
}

main aside .current p {
	font-weight: bold;
    margin-top: 28px;
    margin-left: 35px;
    font-size: 20px;
}

main aside .choice {
	width: 324px;
	height: auto;
	background-color: white;
	border: solid 0.5px #bfbfbf;
}

.choice ul {
	padding: 0px;
	margin-top: 0px;
}

.choice li {
	height: 50px;
	padding: 15px;
	list-style-type: none;
	color:#bfbfbf;
}

.choice li:hover {
	height: 50px;
	padding: 15px;
	list-style-type: none;
	background-color: #f8f8f8;
}

.choice li:visited {
	height: 50px;
	padding: 15px;
	list-style-type: none;
	background-color: #f8f8f8;
}

.choice a {
	text-decoration: none;
}

table {
	width: 1450px;
	height: auto;
	float: left;
	margin-left: 15px;
	border-collapse: collapse;
	table-layout:fixed;
}

.thead{
	height: 40px;
	border: solid 0.5px #bfbfbf;
	text-align: center;
	background-color: #f2f2f2;
}

tr {
	height: 65px;
	border: solid 0.5px #bfbfbf;
	background-color: #f8f8f8;
}

td {
	width: 8px;
	border:solid 1px #bfbfbf;
	text-align: center;
}


